## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/melen/OneDrive/Documents/Bootcamp Challenges/Module 6 - WeatherPy/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Viransehir,TR,37.2353,39.7631,52.16,63,5,4.21,clear sky
1,1,Maldonado,UY,-34.6667,-54.9167,75.22,50,4,9.62,clear sky
2,2,Busselton,AU,-33.6500,115.3333,64.04,56,30,14.58,scattered clouds
3,3,Port Elizabeth,ZA,-33.9180,25.5701,68.09,93,95,4.32,overcast clouds
4,4,Qaanaaq,GL,77.4840,-69.3632,-9.33,73,22,5.79,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Maldonado,UY,-34.6667,-54.9167,75.22,50,4,9.62,clear sky
7,7,Bonfim,BR,3.0833,-59.9500,77.34,86,100,2.53,overcast clouds
13,13,Sao Filipe,CV,14.8961,-24.4956,81.97,64,100,12.06,overcast clouds
23,23,Bilma,NE,18.6853,12.9164,75.29,23,0,7.47,clear sky
30,30,Taoudenni,ML,22.6783,-3.9836,77.92,28,87,6.06,overcast clouds
33,33,Adrar,MR,20.5022,-10.0711,76.46,28,100,10.65,overcast clouds
63,63,Chake Chake,TZ,-5.2459,39.7666,75.00,80,100,3.67,overcast clouds
68,68,Puerto Madero,MX,14.7208,-92.4215,82.60,94,40,0.00,scattered clouds
69,69,Salina Cruz,MX,16.1667,-95.2000,81.10,65,0,16.44,clear sky
80,80,Padang,ID,-0.9492,100.3543,77.05,72,60,1.77,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                151
City                   151
Country                151
Lat                    151
Lng                    151
Max Temp               151
Humidity               151
Cloudiness             151
Wind Speed             151
Current Description    151
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Maldonado,UY,75.22,clear sky,-34.6667,-54.9167,
7,Bonfim,BR,77.34,overcast clouds,3.0833,-59.9500,
13,Sao Filipe,CV,81.97,overcast clouds,14.8961,-24.4956,
23,Bilma,NE,75.29,clear sky,18.6853,12.9164,
30,Taoudenni,ML,77.92,overcast clouds,22.6783,-3.9836,
33,Adrar,MR,76.46,overcast clouds,20.5022,-10.0711,
63,Chake Chake,TZ,75.00,overcast clouds,-5.2459,39.7666,
68,Puerto Madero,MX,82.60,scattered clouds,14.7208,-92.4215,
69,Salina Cruz,MX,81.10,clear sky,16.1667,-95.2000,
80,Padang,ID,77.05,broken clouds,-0.9492,100.3543,

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = hotel_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Maldonado,UY,75.22,clear sky,-34.6667,-54.9167,
7,Bonfim,BR,77.34,overcast clouds,3.0833,-59.9500,
13,Sao Filipe,CV,81.97,overcast clouds,14.8961,-24.4956,
23,Bilma,NE,75.29,clear sky,18.6853,12.9164,
30,Taoudenni,ML,77.92,overcast clouds,22.6783,-3.9836,
33,Adrar,MR,76.46,overcast clouds,20.5022,-10.0711,
63,Chake Chake,TZ,75.00,overcast clouds,-5.2459,39.7666,
68,Puerto Madero,MX,82.60,scattered clouds,14.7208,-92.4215,
69,Salina Cruz,MX,81.10,clear sky,16.1667,-95.2000,
80,Padang,ID,77.05,broken clouds,-0.9492,100.3543,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]
hotel_df.head(15)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Maldonado,UY,75.22,clear sky,-34.6667,-54.9167,La Cimarrona
13,Sao Filipe,CV,81.97,overcast clouds,14.8961,-24.4956,Hotel Xaguate
23,Bilma,NE,75.29,clear sky,18.6853,12.9164,Expeditions Ténére voyages
63,Chake Chake,TZ,75.00,overcast clouds,-5.2459,39.7666,Hotel Archipelago
68,Puerto Madero,MX,82.60,scattered clouds,14.7208,-92.4215,Hospedaje madero
69,Salina Cruz,MX,81.10,clear sky,16.1667,-95.2000,Amerik HOTEL
80,Padang,ID,77.05,broken clouds,-0.9492,100.3543,Mercure Padang
81,Bengkulu,ID,80.06,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu
91,Kita,ML,75.65,clear sky,13.0349,-9.4895,Hôtel Chat Rouge
94,Tonj,SS,75.70,broken clouds,7.2737,28.6822,Lakan Hotel
100,Cayenne,GF,82.09,few clouds,4.9333,-52.3333,Hôtel Le Dronmi
101,Cururupu,BR,76.75,broken clouds,-1.8283,-44.8683,POUSADA TRAVÉS'CIA
119,Puri,IN,77.52,broken clouds,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
132,Oranjestad,AW,82.35,few clouds,12.5240,-70.0270,Divi Village Golf & Beach Resort
133,Naranjal,EC,75.52,overcast clouds,-2.6667,-79.6167,Media Naranja

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))